<tr class="issue <%= issue.issue_type %>">
  <th width="10%">
    <a href="<%= url_for(issue) %>">
      <%= issue.key %>
    </a>
  </th>
  <td width="40%">
    <%= issue.summary %>
  </td>
  <td width="20%">
    <% unless issue.started.nil? %>
      <%= issue.started.strftime('%d %b %Y, %H:%M') %>
    <% end %>
  </td>
  <td width="20%">
    <% unless issue.completed.nil? %>
      <%= issue.completed.strftime('%d %b %Y, %H:%M') %>
    <% end %>
  </td>
  <td width="10%">
    <% unless issue.completed.nil? or issue.started.nil? %>
      <%= distance_of_time_in_words(issue.started, issue.completed) %>
    <% end %>
  </td>
</tr>
