<div class="content-full">
  <h1>Issues</h1>
  
  <p id='status'>Status</p>

  <%= form_tag("/issues/sync", remote: true) do %>
    <p>
      <%= label_tag(:username, "Username:") %>
      <input value="jbrunton" type="text" name="username" id="username">    
    
      <%= label_tag(:password, "Password:") %>
      <input type="text" name="password" id="password">

      <%= submit_tag("Sync") %>
    </p>

  <% end %>

  <% unless @board.nil? %>
    <h3><%= @board['name'] %></h3>
  <% end %>
  
  <table>
    <tr>
      <td width="10%">
        Key
      </td>
      <td width="40%">
        Summary
      </td>
      <td width="20%">
        Started
      </td>
      <td width="20%">
        Completed
      </td>
      <td width="10%">
        Cycle Time
      </td>
    </tr>
    
  </table>

  <% @epics.each do |epic| %>
    <table>
      <%= render epic %>
    
      <% epic.issues.each do |issue| %>
        <%= render issue %>
      <% end %>
    </table>
  <% end %>
</div>
