<div class="content-full">
  <h1><%= @issue.summary %></h1>
  <table>
    <tr>
      <td>Key</td>
      <td><%= @issue.key %></td>
    </tr>
    <tr>
      <td>Summary</td>
      <td><%= @issue.summary %></td>
    </tr>
    <tr>
      <td>Started</td>
      <td><%= @issue.started %></td>
    </tr>
    <tr>
      <td>Completed</td>
      <td><%= @issue.completed %></td>
    </tr>
    <tr>
      <td>Cycle Time</td>
      <td><%= @issue.cycle_time %></td>
    </tr>
  </table>
</div>
