<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @project.domain %>
</p>

<p>
  <strong>Rapid board:</strong>
  <%= @project.rapid_board_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
